[data-if],
.hidden,
.u-hidden {
  display: none !important;
}

.u-text-help {
  display: block;
  font-size: 12px;
  color: #a6abb0;
  line-height: 1.2;
  margin-top: 3px;
}
.u-text-help + .u-text-help {
  margin-top: 6px;
}
.u-text-help.-inline {
  display: inline-block;
}

#BoxFrmExecute {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn {
  text-transform: initial !important;
}

#BtnSend .ico {
  display: none;
}

#controllers .mb-2 {
  margin-bottom: 0 !important;
}

.flatpickr-input[readonly] {
  background-color: #fff;
}

.btn:disabled {
  opacity: 0.5;
  cursor: default;
}
.btn:disabled:hover, .btn:disabled:focus {
  opacity: 0.5 !important;
  transform: none !important;
  box-shadow: none !important;
}

.o-columns {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.o-columns.-auto > .o-column:not(.-grow) {
  flex: none;
}
.o-columns.-gap-xs {
  gap: 8px;
}
.o-columns.-gap-sm {
  gap: 16px;
}
.o-columns.-gap-md {
  gap: 48px;
}
.o-columns.-gap-lg {
  gap: 64px;
}

.o-column {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
}

.icon-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f7f8f9;
  color: #007bff;
  font-size: 20px;
}

.tile {
  display: flex;
  gap: 24px;
}

.tile-content {
  flex: 1 1 auto;
}

.form-card {
  position: relative;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 8px;
}
.form-card.-linked {
  margin-top: 64px;
}

.form-card-header {
  padding: 32px 32px;
  border-bottom: 1px solid #eee;
}

.form-card-body {
  padding: 32px 32px;
}
.form-card-body.-spaced {
  margin-left: calc(24px + 40px);
}

.form-card-link {
  position: absolute;
  top: -63px;
  left: 32px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-card-link::after {
  position: absolute;
  content: "";
  display: block;
  width: 2px;
  height: 64px;
  background-color: #eee;
}

.form-card-link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  font-size: 16px;
  background-color: #fff;
  color: #82858a;
  z-index: 1;
}

.form-container {
  padding: 0 64px 0 64px;
}

.form-group {
  position: relative;
  margin-bottom: 16px;
}
.form-group.-gapless {
  margin-bottom: 0;
}
.form-group.-space {
  margin-top: 32px;
}
.form-group:last-of-type {
  margin-bottom: 0;
}

.form-help {
  margin: 0;
  max-width: 480px;
  line-height: 24px;
  font-size: 12px;
  color: #a6abb0;
}
.form-help.-long {
  margin-top: 3px;
  line-height: 1.6;
}

.form-label + .form-help {
  display: block;
  line-height: initial;
  margin-bottom: 6px;
}

.form-input {
  position: relative;
  line-height: calc(2.55rem + 2px);
  color: #82858a;
}
.form-input div[xid] {
  display: inline-block !important;
  line-height: 30px;
}
.form-input input[type=text],
.form-input input[type=number],
.form-input textarea,
.form-input select {
  max-width: 420px;
}
.form-input:empty {
  display: none;
}
.form-input:not(.-gapless) input[type=text],
.form-input:not(.-gapless) input[type=number],
.form-input:not(.-gapless) textarea,
.form-input:not(.-gapless) select,
.form-input:not(.-gapless) div[xid],
.form-input:not(.-gapless) .btn-group,
.form-input:not(.-gapless) .form-check:last-of-type,
.form-input:not(.-gapless) .checkbox:last-of-type {
  margin-bottom: 32px;
}
.form-input.-gapless > * {
  margin-bottom: 0;
}
.form-input.-sm {
  max-width: 110px;
}
.form-input.-sm > input[type=text],
.form-input.-sm > input[type=number],
.form-input.-sm > select,
.form-input.-sm > textarea {
  max-width: 110px;
  width: 100% !important;
}
.form-input.-md {
  max-width: 165px;
}
.form-input.-md > input[type=text],
.form-input.-md > input[type=number],
.form-input.-md > select,
.form-input.-md > textarea {
  max-width: 304px;
  width: 100% !important;
}
.form-input.-lg {
  max-width: 220px;
}
.form-input.-lg > input[type=text],
.form-input.-lg > input[type=number],
.form-input.-lg > select,
.form-input.-lg > textarea {
  max-width: 200px;
  width: 100% !important;
}
.form-input.-full > input[type=text],
.form-input.-full > input[type=number],
.form-input.-full > select,
.form-input.-full > textarea {
  width: 100% !important;
}

.form-label {
  margin-bottom: 3px;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 500;
  color: #383e48;
  cursor: default;
}
.form-label.-bold {
  font-weight: 700;
}
.form-label.-sm {
  font-size: 12px;
  font-weight: 400;
  color: #82858a;
}
.form-label:empty {
  display: none;
}
.form-label:empty + .form-help {
  display: none;
}
.form-label[data-help]::after {
  content: attr(data-help);
  font-size: 14px;
  font-weight: 300;
  color: #a6abb0;
  margin-left: 4px;
}

#BoxFrmExecute .form-check {
  line-height: 1;
}
#BoxFrmExecute .form-check + .form-check {
  margin-top: 6px;
}
#BoxFrmExecute .form-check input[type=radio] {
  position: absolute;
  top: 4px;
  left: 0;
  margin-top: 0;
  margin-left: 0;
}
#BoxFrmExecute .form-check input[type=radio]:checked + .form-check-label::before {
  border-color: #007bff;
}
#BoxFrmExecute .form-check input[type=radio]:checked + .form-check-label::after {
  background-color: #007bff;
  transform: scale(1);
}
#BoxFrmExecute .form-check input[type=radio]:focus + .form-check-label::before {
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}
#BoxFrmExecute .form-check label.form-check-label {
  position: relative;
  line-height: 1.5;
  left: -22px;
}
#BoxFrmExecute .form-check label.form-check-label::before {
  content: "";
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  border-radius: 50%;
  margin-right: 8px;
  top: 2px;
  background-color: #fff;
}
#BoxFrmExecute .form-check label.form-check-label::after {
  content: "";
  position: absolute;
  left: 3px;
  top: 6px;
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: #fff;
  border-radius: 50%;
  transform: scale(0);
  transition: all 0.2s linear;
}

.form-section {
  position: relative;
  padding-bottom: 32px;
  font-size: 16px;
  overflow-x: hidden;
}
.form-section:not(:last-of-type) {
  border-bottom: 1px solid #eee;
}
.form-section.-fluid {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
.form-section.-borderless {
  border-bottom: none;
}
.form-section.-gapless {
  padding-bottom: 0;
}

table[mult=S].-disabled td:first-child {
  display: none;
}

#ContainerForm table tr {
  background-color: transparent;
}
#ContainerForm table tr.header td,
#ContainerForm table tr.header th {
  border: none;
  border-bottom: 1px solid #dfe1e2;
  font-weight: 700;
  background-color: transparent;
}
#ContainerForm table tr:not(.header) td {
  border: none;
  border-bottom: 1px solid #eee;
  background-color: transparent;
  vertical-align: top;
}

.form-table tr {
  background-color: transparent;
}
.form-table tr.header td,
.form-table tr.header th {
  border: none;
  border-bottom: 1px solid #dfe1e2;
  font-weight: 700;
  background-color: transparent;
}
.form-table tr:not(.header) td {
  border: none;
  border-bottom: 1px solid #eee;
  background-color: transparent;
  vertical-align: top;
}
.form-table th {
  border-bottom: 1px solid #dfe1e2;
}
.form-table th,
.form-table td {
  padding: 12px 8px;
}

.form-text {
  font-size: 16px;
  color: #595c62;
}
.form-text.-bold {
  font-weight: 700;
  color: #383e48;
}
.form-text.-md {
  font-size: 14px;
}
.form-text.-sm {
  font-size: 12px;
  font-weight: 300;
  color: #82858a;
}

.form-title {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 32px;
  margin-top: 8px;
  font-size: 24px;
  font-weight: 700;
  color: #2b323c;
}
.form-title > h1 {
  display: inline-block;
  margin-bottom: 0;
  line-height: 1.6;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}
.form-title > p {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  color: #a6abb0;
}

.form-title-icon {
  display: inline-block;
  margin-right: 8px;
  font-size: 18px;
  color: #007bff;
}

.form-title-tagline {
  display: block;
  margin-bottom: 6px;
  font-weight: normal;
  font-size: 14px;
  color: #82858a;
}
.form-title-tagline.-double {
  min-height: 40px;
}

[data-analysis] {
  display: none;
}

#tbl-documents {
  margin-top: 32px;
}
#tbl-documents td:first-child {
  max-width: 420px;
}
/*# sourceMappingURL=styles.css.map */
